/* Ini css */

.main-title {
    text-align: center;
}

main {
    display: flex; 
    justify-content: space-around;
}

.main-content {    
    flex: 1;
    padding: 12px
}

.input-title {
    font-size: 14px;
    font-weight: bold;
    padding: 12px
}

form {
    background-color: lavender;
    padding: 12px;
    border-radius: 8px;
}

.button {
    
    height: 32px;
    border-radius: 8px;
}

.submit {
    background-color: mediumpurple;
    border: 1px solid rebeccapurple;
}

.reset {
    background-color: white;
    border: 1px solid black;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=number]:focus {
    border: 3px solid #555;
  }

  .result-section {
    text-align: center;
    background-color: lavender;
    border-radius: 8px;
    padding: 12px;
  }